<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dashBoardBean" class="decisionmakertool.beans.DashBoardBean" scope="session"/>
    <bean id="fileUploadBean" class="decisionmakertool.beans.FileUploadBean" scope="session"/>
    <bean id="loginBean" class="decisionmakertool.beans.LoginBean" scope="session"/>
    <bean id="pitfallsBean" class="decisionmakertool.beans.PitfallsBean" scope="session"/>
    <bean id="historialBean" class="decisionmakertool.beans.HistorialBean" scope="session"/>
    <bean id="viewerBean" class="decisionmakertool.beans.ViewerBean" scope="session"/>

</beans>